@media (max-width: 60em) {
  html {
    font-size: 56.25%;
  }
  .container {
    max-width: 83vw;
  }
  .nav-list {
    gap: 4rem;
  }
  .footer {
    right: 2.5rem;
  }
  .slider__nav {
    bottom: 12%;
  }
}

@media (max-width: 52em) {
  .content {
    width: 85%;
  }
  .slider__nav {
    bottom: 10%;
  }
}

@media (max-width: 46em) {
  .content h1 {
    font-size: 4.2rem;
  }
  .menu--open {
    display: block;
  }
  .nav {
    display: none;
  }
  .content a {
    padding: 1rem 2.4rem;
  }
  .nav--mobile {
    width: 40%;
  }
}

@media (max-width: 36em) {
  .slider__nav {
    bottom: 8%;
  }
  .slider__btn {
    height: 1rem;
    width: 1rem;
  }
  .footer {
    display: none;
  }
  .content {
    width: 100%;
    text-align: center;
  }
}
